html {
  font-size: 75%;
}

body {
  margin: 5px;
  text-align: center;
}

nav button {
  font-size: 1em;
}

#powerlevel {
  font-size: 3em;
}

#ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-row {
  display: grid;
  grid-column-template: repeat(7, 1fr);
}

.single-row.stats {
  display: flex;
}
